#title {
    color: white;
    background-color: black;
    text-align: center;
  }
  
#getLoan {
    background-color: green;
}

#transferPay {
    background-color: yellow;
}

#workButton {
    background-color: blue;
    color: white;
}

#buyComputer {
    margin-top: 30px;
}

img {
    width: 300px;
    height: 300px;
}

